<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594342164459-0hk5dcol92q9coc629lko286d4kkpnbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594342164459-0hk5dcol92q9coc629lko286d4kkpnbr</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyCfQdW1blxG8TPn0B2XD6MymBc9Q7IlM38</string>
	<key>GCM_SENDER_ID</key>
	<string>594342164459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dit.HappyPets</string>
	<key>PROJECT_ID</key>
	<string>happypets-7aec9</string>
	<key>STORAGE_BUCKET</key>
	<string>happypets-7aec9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:594342164459:ios:3af8a7f94099c05d840bae</string>
</dict>
</plist>
